<div id="particles-js">
  <div class="header">
    
      <div style="background-color: #ffffff"; margin-bottom: 500px">
      <img alt="ema" class="photo" src="{{ "/assets/img/EmanueleMaso.png"}}" /> 
    </div>
    
      <h1>
        <span class="site-title">{{site.username}}g</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" title="Send e-mail to emanuele.maso97@gmail.com" href="mailto:emanuele.maso97@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" title="My Instagram" target="_blank" href="https://www.instagram.com/clarkstoro/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Github" title="My Github" target="_blank" href="https://github.com/ClarkStoro"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My CV" title="My CV" target="_blank" href="{{"assets/CV-Emanuele-Maso.pdf"}}"><i class="icon fa fa-file" aria-hidden="true"></i></a>
    </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
