<div id="particles-js">
  <div class="header">
   
      <div style="width: 50%; height: 50%; margin: 0 auto;">
        <img alt="ema" class="photo" src="{{ "/assets/img/EmanueleMaso.png"}}"  style="background-color: #0FF0f0;width: 100%"; text-align:center; display: inline-block;margin: 0 auto;"/> 
      </div>
      
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" title="Send e-mail to emanuele.maso97@gmail.com" href="mailto:emanuele.maso97@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" title="My Instagram" target="_blank" href="https://www.instagram.com/clarkstoro/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Github" title="My Github" target="_blank" href="https://github.com/ClarkStoro"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My CV" title="My CV" target="_blank" href="{{"assets/CV-Emanuele-Maso.pdf"}}"><i class="icon fa fa-file" aria-hidden="true"></i></a>
    </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
