<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects" style="margin: 0 auto; text-align:center; background-color: #ff00f0">
  <div class="images-right" style="margin: 0 auto; text-align:center; background-color: #ff0000">
    <img alt="Smart Thermostat" src="{{ "/assets/img/SmartThermostat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" style="margin: 0 auto; text-align:center; background-color: #ff0000">
    <h3> Smart Thermostat </h3>
    <ul>
      <li> React Native development</li>
      <li> Firebase Realtime Database </li>
    </ul>
    <p>This IOT project was realised by me and my roomate and consist in a smart thermostat which works with Firebase database. The app that I built allows you to control the thermostat.</p>
    <a class="project-link" target="_blank" href="https://github.com/ClarkStoro/Smart-Thermostat-App">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Drink Machine" src="{{ "/assets/img/DrinkMachine.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Drink Machine </h3>
    <ul>
      <li> Java for Android Studio for the app development</li>
      <li> MySQL Database from Altervista</li>
      <li> WordPress site development</li>
      <li> C language to control the machine</li>
    </ul>
    <p>This project consist on a machine which is able to prepare your favorite cocktails by ordering them from your Android smartphone. You can also create new cocktails by using the Windows software. This project was created as a part of my high school graduation exam. </p>
    <a class="project-link" target="_blank" href="http://drinkmachine.altervista.org">Check it out</a>
  </div>
</div>
